<%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/react/0.14.3/react.min.js' %>
<%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/react/0.14.3/react-dom.min.js' %>

<%= react_app 'react_meta', payload: 2, port: 3101 %>

<h1>Watman</h1>
