<%= render_handlebar github_issue_summary_path do  %>
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <th><%= t('common.app').titleize %></th>
        <th><%= t('common.open') %></th>
      </thead>
      <tbody>
        {{#each repositories}}
          <tr>
            <td>{{repository_name}}</td>
            <td>{{open_count}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
<% end %>
