<%= render_handlebar github_members_summary_path, tag: :ul, class: 'dropdown-menu dropdown-user' do  %>
  {{#each members}}
    <li>
      <%= link_to '{{html_url}}', target: '_blank' do %>
        <%= icon_for :github %>
        {{login}}
      <% end %>
    </li>
  {{/each}}
<% end %>
