<h1 class="alert alert-info">Client side rendering</h1>
<%= react_component('MetaSecretaryApp',
                     @react_deploys_props,
                     generator_function: false,
                     prerender: false,
                     trace: true) %>
