.icon-panel-header {
  margin-right: 5px;
}

.flash-message-box {
  padding-top: 30px;
}

.diff-choose-app {
  display: inline;
}

label.radio {
  font-weight: 400;
}

.dropdown-notice {
  padding: 10px;
}

.code-well {
  overflow: scroll;
}
